a,
a:focus,
a:hover {
  text-decoration: none;
}

*,
body,
img {
  margin: 0;
  padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  outline: 0;
  border: none;
}

a:focus {
  outline: 0;
  border: none;
}

a:hover {
  outline: 0;
  border: none;
}

button {
  outline: 0;
  border: none;
}

button:hover {
  outline: 0;
  border: none;
}

button:focus {
  outline: 0;
  border: none;
}

.spacer {
  clear: both;
  line-height: 0;
  font-size: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  color: #213f4e;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

h2,
h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #213f4e;
  margin-top: 20px;
}

h2 strong {
  color: #000;
}

h4 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  color: #173752;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  margin-top: 20px;
  margin-bottom: 10px;
}

p strong {
  font-weight: 700;
}

p strong.red-text {
  color: #f42a3f;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

.topouter {
  background: #213f4e;
  padding: 15px 0;
  text-align: center;
}

.topmidtext {
  text-transform: uppercase;
  color: #fdfbf6;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
  text-align: center;
}

.toprighttext {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.midsection {
  background: #fdfbf6;
  padding: 30px 0;
}

// .section {
//   padding: 20px 20px;
//   background: #fff;
//   -webkit-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
//   -moz-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
//   box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
// }

.fullumg {
  width: 100%;
}

.fullumg img {
  width: 100%;
  display: block;
}

.mainrow {
  margin-top: 30px;
}

.logosec {
  padding: 20px;
  background: #f3f3f3;
  text-align: center;
}

.logosec img {
  display: block;
  margin: 5px auto 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.garunteesec {
  background: #e4dfbf;
  padding: 30px 20px;
  text-align: center;
}

.garunteelogo {
  margin-top: 10px;
  text-align: center;
}

.buttonouter {
  margin-top: 25px;
}

.btn-default {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background: #f86c1f;
  text-align: center;
  -webkit-box-shadow: 10px 10px 19px -4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 19px -4px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 10px 19px -4px rgba(0, 0, 0, 0.33);
  padding: 18px 20px;
  border: none;
  border-radius: 5px;
}

.btn-default span {
  vertical-align: middle;
}

.btn-default i {
  display: inline-block;
  vertical-align: middle;
  display: none;
}

.bottlesec {
  padding-bottom: 30px;
}

.leftbottle {
  text-align: center;
  margin-bottom: 20px;
}

.comparesec {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comparesec .fullumg {
  margin-bottom: 20px;
}

.badsec ul {
  margin: 20px 0 20px;
  padding: 0;
}

.badsec ul li {
  //   background: url(../images/redcross.png) left 4px no-repeat;
  padding-left: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  margin-top: 15px;
}

.badsec ul li:first-child {
  margin-top: 0;
}

.goodsec ul {
  margin: 20px 0 0;
  padding: 0;
}

.goodsec ul li {
  //   background: url(../images/tick.png) left 6px no-repeat;
  padding-left: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  margin-top: 15px;
}

.goodsec ul li:first-child {
  margin-top: 0;
}

.testimonialsec {
  margin-top: 20px;
  text-align: center;
}

.testimonialsec .row {
  margin-top: 20px;
}

.testimonialsec .row:first-child {
  margin-top: 0;
}

.testimonialsec p {
  margin-bottom: 20px;
}

.user {
  text-align: center;
}

.user strong {
  display: block;
  color: #173752;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.trustlogo {
  margin-top: 15px;
  text-align: center;
}

.bottleimg {
  text-align: center;
  margin-bottom: 20px;
}

.botsec p strong {
  color: #00b67a;
  text-transform: uppercase;
}

.botsec .btn-default {
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
  padding-right: 30px;
}

.ctasec {
  padding: 30px 20px;
  background: #fff;
  text-align: center;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
}

.smlgaruntee {
  position: absolute;
  left: 30px;
  top: 50px;
  width: 80px;
}

.discount {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 160px;
}

.righttestibox {
  padding: 25px;
  background: #fff;
  text-align: center;
  margin: 20px 0 0;
  -webkit-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.righttestibox .user {
  text-align: center;
  margin-top: 20px;
}

.righttestibox .user strong {
  font-weight: 400;
  font-size: 16px;
}

.socialsec {
  text-align: center;
  margin-top: 25px;
}

.socialsec a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}

.footer {
  background: #213f4e;
  padding: 30px 0 120px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}

.footer p a {
  color: #fff;
  font-weight: 700;
}

.floating-btn {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: auto;
  bottom: 0;
}

.floating-btn i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.topouter .btn-default {
  width: auto;
}
/*
.stick img {
  width: 130px
}
*/
.sml_bottle img {
  width: 200px;
}

.bottlesec .sml_bottle img {
  width: 90px;
}

.garunteesec .sml_bottle img {
  width: 100px;
}

.logosec h4 {
  margin-bottom: 5px;
}

.logosec a {
  display: inline-block;
  vertical-align: bottom;
  margin: 5px 7px;
}

.logosec a img {
  margin: 0;
}

@media only screen and (min-width: 576px) {
  .topouter {
    text-align: left;
  }
  .topmidtext {
    text-align: right;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2,
  h3 {
    font-size: 22px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 34px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
  }
  .container {
    max-width: 750px;
  }
  .toprighttext {
    text-align: right;
  }
  .footer {
    padding-bottom: 30px;
  }
  .bottlesec .sml_bottle img {
    width: 130px;
  }
  .logosec a {
    margin: 5px 3px;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  .container {
    max-width: 970px;
  }
  .section {
    padding: 20px 30px;
  }
  .garunteesec,
  .testimonialsec {
    text-align: left;
    padding: 30px;
  }
  .garunteelogo {
    text-align: right;
    margin: 0;
  }
  .bottlesec {
    padding-bottom: 30px;
  }
  .comparesec {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ctasec {
    margin: 0;
  }
  .bottlesec .sml_bottle img {
    width: 110px;
  }
  .logosec a {
    margin: 5px 7px;
  }
  .stick {
    z-index: 999;
    position: fixed;
    top: -25px;
    width: 387px;
  }
  .FooterMoveForSticky {
    max-width: 58% !important;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 43px;
    line-height: 53px;
  }
  h2 {
    font-size: 28px;
    line-height: 38px;
  }
  h4 {
    font-size: 26px;
    line-height: 36px;
  }
  .container {
    max-width: 1170px;
  }
  .topmidtext {
    text-align: center;
  }
  .section {
    padding: 20px 60px;
  }
  .garunteesec,
  .testimonialsec {
    padding: 40px 60px;
  }
  .btn-default span {
    margin-right: 12px;
  }
  .btn-default i {
    display: inline-block;
  }
  .leftbottle {
    text-align: left;
    margin: 0;
  }
  .bottlesec {
    padding-bottom: 40px;
  }
  .comparesec {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .comparesec .fullumg {
    margin-bottom: 0;
  }
  .testimonialsec {
    text-align: left;
  }
  .testimonialsec p {
    margin-bottom: 25px;
  }
  .user {
    text-align: left;
  }
  .trustlogo {
    margin: 0;
    text-align: right;
  }
  .testimonialsec .row {
    margin-top: 50px;
  }
  .botsec {
    margin-top: 30px;
  }
  .bottleimg {
    text-align: left;
    margin: 0;
  }
  .botsec .btn-default {
    padding-left: 0;
    padding-right: 0;
  }
  .ctasec {
    padding: 30px;
  }
  .footer {
    padding: 40px 0;
  }
  .sml_bottle img {
    width: auto;
  }
  .bottlesec .sml_bottle img {
    width: auto;
  }
  .garunteesec .sml_bottle img {
    width: auto;
  }
  .logosec a {
    margin: 5px 4px;
  }
  .stick {
    z-index: 999;
    position: fixed;
    top: -25px;
    width: 387px;
  }
  .FooterMoveForSticky {
    max-width: 68% !important;
  }
}

@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
  .container {
    max-width: 1250px;
  }
  .section {
    padding: 20px 70px;
  }
  .garunteesec,
  .testimonialsec {
    padding: 50px 70px;
  }
  .bottlesec {
    padding-bottom: 40px;
  }
  .comparesec {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  /*
  .stick img {
      width: 130px
  }
*/
  .footer {
    padding: 50px 0;
  }
  .stick {
    z-index: 999;
    position: fixed;
    top: -25px;
    width: 387px;
  }
  .logosec a {
    margin: 5px 7px;
  }
}

.highlightYellow {
  color: black;
  background-color: yellow;
  font-weight: bold;
}

.bulletpoints {
  list-style: disc;
}

.bulletpoints li {
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.bulletpoints li strong {
  font-weight: bold;
}

@media only screen and (max-width: 570px) {
  .map-container {
    height: 375px;
  }
}

@media only screen and (max-width: 375px) {
  .map-container {
    height: 195px;
  }
}
