.product-card {
  padding: 30px 20px;
  background: #fff;
  text-align: center;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 28px -1px rgba(0, 0, 0, 0.05);

  &.floating {
    margin-top: 20px;
    top: 20px;
    padding-bottom: 20px;
    display: none;
    position: sticky;
    z-index: 10;
  }
}
