.page-btn-container {
  text-align: center;
}
.page-btn-wrapper {
  display: inline-block;
  text-align: center;
}
.page-btn {
  display: flex;
  justify-content: center;
  background-color: #e70b2f;
  border: 1px solid #e70b2fd1;
  color: #fff;
  padding: 0.5em 2em;
  margin-top: 1em;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  width: auto;
  font-weight: bold;
  font-size: 16px !important;

  .arrow-img {
    .article-image-wrapper {
      width: fit-content;
      display: inline-flex;

      img {
        max-width: 100% !important;
        width: 100% !important;
      }
    }
  }
}
.page-btn:hover {
  background-color: #e37100;
  border: 1px solid #e37100;
}

.page-btn p {
  color: #fff !important;
  font-size: 1.1em !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.page-btn svg {
  vertical-align: text-top;
}

.page-btn-text {
  p {
    margin: 0;
    padding: 0;
  }
}
.arrow-wrapper,
.arrow-img {
  display: block;
}

.arrow-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: text-top;
}

.arrow-wrapper {
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  .page-btn {
    font-size: 12.5px !important;
  }
}

@media (max-width: 325px) {
  .page-btn {
    max-width: 330px !important;
  }
}
