.map-main-container {
  position: relative;
}
.map-button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  position: absolute;
  right: 0;
  top: 45%;
  background: red;
  height: 150px;
}

.map-state-button {
}

.map-state-button-text {
  stroke: blue;
  fill: blue;
  font-size: 10px;
}
